<div class="row">
  <div class="col-md-4">
    <%= image_tag @book.image.thumb.url %>
  </div>
  <div class="col-md-8">
    <h2><%= @book.author %></h2>
    <h3><%= @book.name %></h3>
    <p><%= @book.description %></p>
  </div>
</div>
