<div class="area-star">
  <span class="fa fa-star fa-star-1" data-poin="1"></span>
  <span class="fa fa-star fa-star-2" data-poin="2"></span>
  <span class="fa fa-star fa-star-3" data-poin="3"></span>
  <span class="fa fa-star fa-star-4" data-poin="4"></span>
  <span class="fa fa-star fa-star-5" data-poin="5"></span>
</div>
