@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color.scss';
@import 'toastr';

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  position: relative;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.hi-user {
  top: 14px;
  position: relative;
}

.area-created-right {
  float: right;
}

.title-rating {
  font-weight: 550
}

.title-book-name {
  margin-top: 0px;
}

.checked {
  color: orange;
}

.btn-mark-book {
  position: relative;
  top: 10px;
  left: 100px;
}

.image-book {
  width: 100%;
}

#txt_search {
  width: 230px;
}

.result_search {
  z-index: 1000;
  background-color: $gray-result-search;
  top: 84%;
  max-height: 200px;
  position: absolute;
  width: 250px;
  left: 15px;
  overflow-y: scroll;
  ul {
    padding-left: 10px;
  }
  li {
    list-style-type: none;
    padding: 10px;
    &:hover{
      background-color: silver;
    }
  }
}

.ul-result_search {
  display: none;

  .img-avatar {
    border: 3px solid silver;
  }
}
.time_new_feed {
  position: relative;
  top: -13px;
  color: silver;
}

.class_follow {
  position: relative;
  left: 130px;
}

.area-user{
  padding-bottom: 20px;
}

.review-rating {
  padding-bottom: 15px;

  .area-btn-review {
    padding-top: 10px;
  }
}

.float_right {
  float: right;
}

.action-comment {
  right: -10px;
}

.image-user-comment {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.border_book{
  padding: 20px;
  border: 1px solid #ccc;
  margin: 20px 0;
}

.title-new-book{
  background: #3ac5e4;
  padding: 14px;
  color: white;
}

.image-book:hover, .image-cat-book:hover {
  filter: brightness(70%);
}

.review_book{
  background: #3ac5e4;
  color: white;
  padding: 14px;
}

.input-like{
  position:absolute;
  opacity:0;
  border:none;
  z-index:999;
  left:0;
  background:transparent;
}

bookstyle-like {
  font-size: 20px;
}

.image-cat-book {
  width: 75%;
}

.book{
  padding: 10px;
}

.img-book-modal{
  width: 100%;
}